<section class = "display">

    <div>
        {{# each items }}
            <article class="item">
                <div>Name: {{this.Name}}</div>
                <div>ID: {{ this._id }}</div>
                <div>Category: {{this.category}}</div>
                <div>Full Head: {{this.robottype}}</div>
                <div>Screen Type: {{this.screentype}}</div>
                <div>Mouth: {{this.mouth}}</div>
                <div>Nose: {{this.nose}}</div>
                <div>Eyebrows: {{this.eyebrows}}</div>
                <div>Cheeks Blush: {{this.cheeksblush}}</div>
                <div>Hair: {{this.hair}}</div>
                <div>Ears: {{this.ears}}</div>
                <div>Physical Features: {{this.physicalfeatures}}</div>
                <div>Robot Height: {{this.robotheight}}</div>
                <div>Embodiment: {{this.embodiment}}</div>
                <div>Face Color: {{this.facecolor}}</div>
                <div>Face Turns Other Colors: {{this.faceturnsothercolors}}</div>
                <div>Face Gradient To: {{this.facegradientto}}</div>
                <div>Face Shape: {{this.faceshape}}</div>
                <div>Screen Size: {{this.screensize}}</div>
                <div>Head Motion: {{this.headmotion}}</div>
                <div>Face Motion: {{this.facemotion}}</div>
                <div>Info Display Type: {{this.infodisplay}}</div>
                <div>Eye Color: {{this.eyecolor}}</div>
                <div>Eye Outline Color: {{this.eyeoutlinecolor}}</div>
                <div>Eye Turns Other Colors Inside: {{this.eyeturnsothercolorsinside}}</div>
                <div>Eye Shape: {{this.eyeshape}}</div>
                <div>Eye Turns Other Shapes (Exclude Blink): {{this.eyeturnsothershapesexcludeblink}}</div>
                <div>Pupil: {{this.pupilyorn}}</div>
                <div>Pupil Color: {{this.pupilcolor}}</div>
                <div>Lid: {{this.lid}}</div>
                <div>Iris: {{this.iris}}</div>
                <div>Lashes Color: {{this.lashescolor}}</div>
                <div>Lash Shape: {{this.lashshape}}</div>
                <div>Reflected Glare Color: {{this.reflectedglarecolor}}</div>
                <div># Glare Circles: {{this.numberglarecircles}}</div>
                <div>Blink Type: {{this.blinktype}}</div>
                <div>Pupil Shapes: {{this.pupilshapes}}</div>
                <div>Eye Motion: {{this.eyemotion}}</div>
                <div>Pupil And/Or Iris Motion: {{this.pupilandorirismotion}}</div>
                <div>Glare Motion: {{this.glaremotion}}</div>
                <div>Wink: {{this.wink}}</div>
                <div>Eye Size: {{this.eyesize}}</div>
                <div>Eye Placement: {{this.eyeplacement}}</div>
                <div>Eye Spacing: {{this.eyespacing}}</div>
                <div>Mouth Color Or Outline Color: {{this.mouthcolororoutlinecolor}}</div>
                <div>Mouth Inside Color: {{this.mouthinsidecolor}}</div>
                <div>Mouth Shape: {{this.mouthshape}}</div>
                <div>Lips: {{this.lips}}</div>
                <div>Tongue: {{this.mouthshape}}</div>
                <div>Teeth Shape: {{this.teethshape}}</div>
                <div>Mouth Motion: {{this.mouthmotion}}</div>
                <div>Mouth Length: {{this.mouthlength}}</div>
                <div>Mouth Placement: {{this.mouthplacement}}</div>
                <div>Nose Color: {{this.nosecolor}}</div>
                <div>Nose Shape: {{this.noseshape}}</div>
                <div>Nose 3D: {{this.nose3d}}</div>
                <div>Nose Size: {{this.nosesize}}</div>
                <div>Nose Placement: {{this.noseplacement}}</div>
                <div>Nose Motion: {{this.nosemotion}}</div>
                <div>Eyebrow Color: {{this.eyebrowcolor}}</div>
                <div>Eyebrow Shape: {{this.eyebrowshape}}</div>
                <div>Eyebrow Inner Edge Positions: {{this.eyebrowinneredgepositions}}</div>
                <div>Eyebrow Independent Motion: {{this.eyebrowindependentmotion}}</div>
                <div>Eyebrow Motion: {{this.eyebrowmotion}}</div>
                <div>Eyebrow Length: {{this.eyebrowlength}}</div>
                <div>Eyebrow Arch: {{this.eyebrowarch}}</div>
                <div>Cheek Color: {{this.cheekcolor}}</div>
                <div>Cheek Shape: {{this.cheekshape}}</div>
                <div>Cheek Size: {{this.cheeksize}}</div>
                <div>Cheek Placement: {{this.cheekplacement}}</div>
                <div>Cheek Spacing: {{this.cheekspacing}}</div>
                <div>Hair Color: {{this.haircolor}}</div>
                <div>Country/Region Of Origin: {{this.countryregionoforigin}}</div>
                <div>Year: {{this.year}}</div>

            </article>
        {{/each}}
    </div>

</section>